<!Doctype html>
<html>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <head>
    <title>Веб-страница</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <div class="header">
      <h1>Вы смотрите гардеробную систесу Оскар</h1>
    </div>

    <div class="navbar">
      <a href="home">Главная страница</a>
      <a href="product">Наши товары</a>
      <a href="location">Местоположение магазина</a>
      <a href="delivery">Доставка</a>
      <a class="right" href="cooperate">Наши сотрудники</a>
    </div>

    <div class="row">
      <div class="side">
        <h2>Гардеробная система Оскар</h2>
        <img style="height:450px;" src="https://hoff.ru/upload/iblock/4ef/4ef7a0037773d6c8f85d0d61e071c039.jpg">
        <img style="height:450px;" src="https://hoff.ru/upload/iblock/c5c/c5c55a2775c543abe106934a4cbda60e.jpg">
        <img style="height:450px;" src="https://hoff.ru/upload/iblock/258/258c292274789312d4f21ca40d8c664e.jpg">
        <h5>Хранение вещей — важная составляющая функционала квартиры. Обустройство специальной гардеробной зоны позволяет разгрузить жилое пространство от тяжеловесных шкафов и комодов. Легкий доступ к вещам, четкое структурирование одежды и обуви по типам и сезонности способствуют более рациональной организации жизни и экономии времени.

            Гардеробная система Оскар предлагает большой выбор элементов, адаптирующихся к размерам конкретного помещения, а также потребностям и стилю жизни пользователя. Благодаря основным и вспомогательным модулям появляются бесконечные композиционные вариации оформления интерьера.
            
            Как спланировать шкаф самостоятельно? Элементарно просто!
            
            Выбираем размер корпуса шкафа с названием Оскар: 50 см, 75см, 100 см или угловой 95,05 см
            Подбираем двери с названием Оскар по ширине:
            дверь шириной 49,7 см подходит к корпусу 50 см, угловому или 2 двери к корпусу 100 см
            дверь шириной 37,2см подходит к корпусу 75 см (нужно 2 двери)
            добавляем петли + доводчик по желанию 
            добавляем любые понравившиеся ручки с названием Оскар
            к зеркальным дверям подходят только профильные ручки
            Подбираем наполнение с названием Оскар по вкусу: полки, ящики, штанги. Ширина каждого изделия соответствует ширине корпуса шкафа: полки и ящики на 3,2 см меньше ширины корпуса шкафа, штанги на 3,9 см меньше ширины шкафа. Полки для углового шкафа шириной 93,15 см
            Шкаф ГОТОВ!
            Гибкая система компоновки, сочетание открытых и закрытых секций делают пользование мебелью чрезвычайно комфортным. Чтобы любимые туфли не затерялись в недрах шкафов, можно разместить их на открытой полке, где они будут на виду, а реже используемые пары логично поставить подальше. Штанги для вешалок, закрепленные на разных уровнях, хранят одежду любой длины, не сминая. Для многочисленных ремней, шарфов и галстуков предусмотрены неглубокие ящики, позволяющие держать мелкие аксессуары под контролем.
            
            Выбирать и комбинировать можно не только внутреннее наполнение, но и варианты внешней отделки, что предоставляет полный простор для создания персонализированного дизайна. Зеркальные полотна в полный рост, фасады в белом или древесном декоре, лицевая фурнитура – последнее слово остается за покупателем.
            Позволяя рационально задействовать каждый сантиметр площади, гардеробная система Оскар выходит за рамки практической функции – ее современная эстетика украсит любое интерьерное решение.</h5>
        <div class="fakeimg" style="height:222px;">Общие характеристики
            <br>Коллекция: Оскар;</br>
            <br>Размер (ШхВхГ): 365,1х236х195,05 см;</br>
            <br>Материал: ЛДСП;</br>
            <br> Цвет: дуб Сонома</div>

            <div class="footer">
                <h2>Также можете позвонить по номеру и обсудить все с нашим администратором <br>+7 (999) 999-99-99 </br></h2>
              </body>
          
            </html>
