<!Doctype html>
<html>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <head>
    <title>Веб-страница</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <div class="header">
      <h1>Доставка </h1>
    </div>

    <div class="navbar">
      <a href="home">Главная страница</a>
      <a href="product">Наши товары</a>
      <a href="location">Местоположение магазина</a>
      <a class="right" href="cooperate">Наши сотрудники</a>
    </div>

    <div class="row">
      <div class="side">
        <h2>Доставка происходит по всей Москве и Московской области.</h2>
        <img src="https://sun9-12.userapi.com/impf/c628421/v628421290/3e33/8FS1t_jrWNk.jpg?size=604x454&quality=96&sign=da126170205cab60aa98f600b96c1143&type=album">
        <h5>Доставку ожидать можно 3-4 дня!</h5>
        <div class="fakeimg" style="height:100px;">Доставка по Москве бесплатная, по области 100 рублей за 1 километр от МКАДа.</div>
      </div>

      <div class="main">
        <h2>Наша доставка происходит на данных грузовиках.</h2>
        <img src="https://e1.elaphjournal.com/resources/images/NewMedia/2015/5/week1/selfcamioun.JPG">
        <h5>Наша доставка самая безопасная.</h5>
        <div class="fakeimg" style="height:100px;">Нашу доставку признали лучшей по всей Москве и Московской области.</div>
      </div>

    </div>

    <div class="footer">
      <h2>Также можете позвонить по номеру и обсудить все с нашим администратором <br>+7 (999) 999-99-99 </br></h2>
    </body>

  </html>
