<!Doctype html>
<html>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <head>
    <title>Веб-страница</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <div class="header">
      <h1>Дополнительные наши товары</h1>
    </div>

    <div class="navbar">
      <a href="home">Главная страница</a>
      <a href="location">Местоположение магазина</a>
      <a href="delivery">Доставка</a>
      <a class="right" href="cooperate">Наши сотрудники</a>
    </div>

    <div class="row">
      <div class="side">
        <h2>Кровать с подъемным механизмом Sandra</h2>
        <img style="height:500px;" src="https://hoff.ru/upload/iblock/a48/a480bfca8b39bb8e576bbf5b6f99da68.jpg">
        <div class="fakeimg" style="height:100px;">Данную кровать изготавливали в России.<br>Цена: 39999 р.</br> <div><a class="catalog1" href="catalog1"> Нажмите, чтобы узнать подробнее</a></div> </div>
      </div>

      <div class="main">
        <h2>Гардеробная система Оскар</h2>
        <img style="height:500px;" src="https://hoff.ru/upload/iblock/4ef/4ef7a0037773d6c8f85d0d61e071c039.jpg">
        <div class="fakeimg" style="height:100px;">Данный шкаф изготавливали в Беларуси. <br>Цена: 59500 р. <div><a class="catalog2" href="catalog2">  Нажмите, чтобы узнать подробнее</a></div></br></div>
      </div>

    </div>

    <div class="footer">
      <h2>Также можете позвонить по номеру и обсудить все с нашим администратором <br>+7 (999) 999-99-99 </br></h2>
    </body>

  </html>
