<!Doctype html>
<html>
  <link rel="stylesheet" type="text/css" href="/static/Index.css">
  <head>
    <title>Веб-страница</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <div class="header">
      <h1>Дополнительные наши товары</h1>
    </div>

    <div class="navbar">
      <a href="home">Главная страница</a>
      <a href="location">Местоположение магазина</a>
      <a href="delivery">Доставка</a>
      <a class="right" href="cooperate">Наши сотрудники</a>
    </div>

    <div class="row">
      <div class="side">
        <h2>У нас продаются не только кровати и посуда, но и шкафы.</h2>
        <img style="height:500px;" src="https://pro-dachnikov.com/uploads/posts/2021-10/thumbs/1633794617_141-p-shkaf-kupe-v-spalnyu-vnutri-foto-144.jpg">
        <h5>Данный шкаф имеет выдвижную гладильную доску, 25 полок и 5 из них для ваших курток.</h5>
        <div class="fakeimg" style="height:100px;">Данный шкаф изготавливали в России. <br>Цена: 39999 р.</br></div>
      </div>

      <div class="main">
        <h2>Также у нас продаются готовые планы комнат.</h2>
        <img style="height:500px;" src="https://i.pinimg.com/originals/9d/00/4a/9d004a9d26720ed304b8336aec81eb43.jpg">
        <h5>Все планы комнат вы можете увидеть в нашем магазине!</h5>
        <div class="fakeimg" style="height:115px;">Данный план для комнаты изготавливался в Испании нашими мастерами. Данная комната будет размером 20 м². <br>Цена: 59500 р.</br></div>
      </div>

    </div>

    <div class="footer">
      <h2>Также можете позвонить по номеру и обсудить все с нашим администратором <br>+7 (999) 999-99-99 </br></h2>
    </body>

  </html>