.error-container {
  text-align: center;
}

h1 {
  font-size: 10em;
  color: black;
}


@keyframes shake {
  0% { transform: translateX(0px) translateY(0px); }
  10% { transform: translateX(0px) translateY(50px); }
  20% { transform: translateX(50px) translateY(0px); }
  30% { transform: translateX(0px) translateY(-70px); }
  40% { transform: translateX(-70px) translateY(0px); }
  50% { transform: translateX(0px) translateY(70px); }
  60% { transform: translateX(0px) translateY(50px); }
  70% { transform: translateX(50px) translateY(0px); }
  80% { transform: translateX(0px) translateY(-70px); }
  90% { transform: translateX(-50px) translateY(0px); }
  100% { transform: translateX(0px) translateY(0px); }
}

h1 {
  animation: shake 7s infinite;
}

.center {
  text-align: center;
}

p {
  font-size: 30px;
}

.btn {
  display: inline-block;
  margin-left: 1px;
  background: yellow; 
  color: black; 
  padding: 1em 50rem; 
  font-size: 1.4em;
  text-decoration: none; 
  border-radius: 7px; 
 }
 